{
  "host": "http://0.0.0.0:7700",
  "key": null,
  "works": [
    {
      "index": "my_first_index",
      "primary": "id",
      "db_driver": "postgres",
      "db_dsn": "host=127.0.0.1 port=5432 user=postgres password=password dbname=db sslmode=disable",
      "query": "SELECT id, name, key, created_at  FROM test ORDER BY id ASC LIMIT :limit OFFSET :offset",
      "sleep": 100,
      "thread": 10,
      "limit": 1000
    },
    {
      "index": "my_second_index",
      "primary": "aoguid",
      "db_driver": "mysql",
      "db_dsn": "user:pass@tcp(host:3306)/db",
      "query": "SELECT aoguid, parentguid, offname FROM address_list ORDER BY aoguid ASC LIMIT :offset, :limit",
      "sleep": 1000,
      "thread": 10,
      "limit": 1000
    }
  ]
}